<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./test/bootstrap.php"
>
    <testsuites>
        <testsuite name="main">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    
    <logging>
        <log type="testdox-text" target="./log/phpunit_testdox.log"/>
    </logging>
</phpunit>
